@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@Html.Raw(@ViewData["Message"])

<br/>

@Html.Encode(@ViewData["Message"])

<p>Use this area to provide additional information.</p>
